$light-blue: #edf2f7;
$white: #fff;
$blue: #0b63dc;
$grey: #383b3f;
$light-grey: #aeb3b8;

body {
  background-color: $light-blue;
}
div.container {
  padding-top: 20px;
}
.search {
  padding-left: 40px;
  position: relative;
  margin: 0 auto;
  padding-bottom: 20px;
  @media screen and (min-width: 850px) {
    max-width: 350px;
  }

  .fa-search.fa-w-16 {
    color: #979ea3;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #dbe2ed;
    background-color: #fff;
    padding: 11px 11px 10px 13px;
    position: absolute;
    margin-left: -38px;
  }
  input#filter {
    border: 1px solid #dbe2ed;
    border-radius: 3px;
    color: #979ea3;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    @media screen and (max-width: 850px) {

    }
  }
}


.articles {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  .article {
    flex: 25%;
    padding: 20px;
    margin: 10px;
    &:last-child {
      flex: 25%;
    }
    @media screen and (max-width: 992px) {
      .column {
        flex: 50%;
      }
    }
  }
  @media screen and (max-width: 600px) {
    .articles {
      flex-direction: column;
    }
  }
}

.article {
  color: $blue;
  border: 1px solid #dbe2ed;
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 35px;
  flex: 25%;
  padding: 20px;
  @media screen and (max-width: 600px) {
    .column {
      flex: 50%;
      justify-content: space-around;
      margin-left: 4%;
      flex-direction: column;
    }
  }
  @media screen and (max-width: 600px) {
    .row {
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .title {
    color: $blue;
    font-size: 14px;
    font-weight: 600;
  }
  p.content {
    color: $grey;
  }
  .author {
    color: $light-grey;
  }
}

